* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  width: 100%;
  background: #fafafa;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.nav_bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #dfdfdf;
  display: flex;
}
.nav_name {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 100px;
  font-size: large;
}

.nav_wrapper {
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.section {
  float: left;

  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}

.section:hover {
  background-color: rgb(114, 114, 114);
  color: white;
}

.slide-content {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.wrap {
  margin-top: 50px;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1 {
  background-image: url("img/d2.jpg");
}
.slide2 {
  background-image: url("img/download.jpg");
}
.slide3 {
  background-image: url("img/d3.jpg");
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide-content span {
  font-size: 5rem;
  color: #fff;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  height: 60px;
  width: 60px;
}

#arrow-left {
  border-width: 30px 40px 30px 0;

  left: 0;
  margin-left: 30px;
}

#arrow-right {
  border-width: 30px 0 30px 40px;

  right: 0;
  margin-right: 30px;
}
