* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
}

body {
  width: 100%;
  background: #fafafa;
  position: relative;

  font-size: 14px;
}
.nav_bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #dfdfdf;
  display: flex;
}
.nav_name {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 100px;
  font-size: large;
}

.nav_wrapper {
  height: 100%;
  width: 60%;
  padding-right: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.section {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}

.section:hover {
  background-color: #97caa5;
  color: white;
}

.slide-content {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.wrap {
  margin-top: 50px;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1 {
  background-image: url("img/unnamed.jpg");
}
.slide2 {
  background-image: url("img/Web-Development.jpg");
}
.slide3 {
  background-image: url("img/coding-platform-STEM-code.jpg");
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide-content span {
  font-size: 5rem;
  color: #fff;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 300px;
  margin-top: -35px;
  height: 60px;
  width: 60px;
}

#arrow-left {
  border-width: 30px 40px 30px 0;

  left: 0;
  margin-left: 30px;
}

#arrow-right {
  border-width: 30px 0 30px 40px;

  right: 0;
  margin-right: 30px;
}

.main_section {
  width: 100%;
  height: auto;
}
.main_title {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #97caa5;
  color: white;
  font-size: 20px;
}
.project {
  padding: 50px;
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project_data {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.project_image {
  height: 300px;
  width: 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 20px;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.2);
}
.project1 {
  background-image: url("/img/calculator.png");
}
.project2 {
  background-image: url("/img/insta.png");
}
.project3 {
  background-image: url("/img/news.png");
}
.my_image {
  height: 300px;
  width: 30%;
  margin-left: 250px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 20px;
  background-image: url("img/foto.jpeg");
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.2);
}
.colored {
  background: #ebebeb;
}

.mine {
  padding: 50px;
  display: flex;
  justify-content: center;
  height: 400px;
  width: 100%;
  align-items: center;
}
.my_data {
  text-align: left;
  margin-left: 100px;
}

.box {
  position: relative;
  width: 200px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.2);
}

.box .percent {
  position: relative;
  width: 150px;
  height: 150px;
}
.box .percent svg {
  position: relative;
  width: 150px;
  height: 150px;
}

.box .percent svg circle {
  width: 150px;
  height: 150px;
  fill: none;
  stroke-width: 10;
  stroke: #000;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}
.box .percent svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #fef3f3;
}
.box .percent svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 80) / 100);
  stroke: #97caa5;
}

.box .percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box .percent .number h2 {
  font-size: 40px;
}
.box .text {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
