* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  background: #fafafa;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.nav_bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #dfdfdf;
}
.nav_wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.slide-content {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.wrap {
  margin-top: 50px;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1 {
  background-image: url("img/d2.jpg");
}
.slide2 {
  background-image: url("img/download.jpg");
}
.slide3 {
  background-image: url("img/d3.jpg");
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide-content span {
  font-size: 5rem;
  color: #fff;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 300px;
  margin-top: -35px;
  height: 60px;
  width: 60px;
}

#arrow-left {
  border-width: 30px 40px 30px 0;

  left: 0;
  margin-left: 30px;
}

#arrow-right {
  border-width: 30px 0 30px 40px;

  right: 0;
  margin-right: 30px;
}

.experience {
  width: 100%;
  height: auto;
}
.my_projects {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d8f8e1;
}
.project {
  padding: 50px;
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project_data {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.project_image {
  height: 300px;
  width: 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 20px;
}
.project1 {
  background-image: url("/img/cover\ 13.png");
}
.project2 {
  background-image: url("/img/cover\ 12.png");
}
.colored {
  background: #ebebeb;
}
